<section class= "listSitelogin">
  <form ng-submit="login.userLogin()">
    <p class="welcome">Welcome to</p>
    <h1 class="bloodStone">BloodStone Bookmarks.</h1>
    <p class="please">Please log in to continue.</p>
    <input type="text"  placeholder="email:" ng-model="login.user.email">
    <input type="password"  placeholder="password:" ng-model="login.user.password">
    <button type="submit" class="send">Log in.</button>
    <p class="register">(I'd rather <a href="#!/register">register</a>.)</p>
  </form>
</section>
