$max : 100%;
$SmallFontSize : 12px;
$ImportantFontFamily: 'Libre Baskerville';
$SecondaryImpFontFamily: serif;
$basicFontFamily: 'Work Sans';
$SecondaryBasicFontFamily: sans-serif;
$background: #50e3c2;
$textColor: #360033;
$shadow: 10px;
$importantTextColor: #ffffff;
$niceBackground: linear-gradient(127deg, #360033, #2d1b46 20%, #2c1d48 22%, #0b8793);

html {
  width: $max;
  height: 100vh;
  background-image: $niceBackground;
}
body {
  height: $max;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
}
form {
  display: flex;
  flex-direction: column;
  max-width:388px;
  margin:auto;
  background-color: $background;
  box-shadow: $shadow $shadow #112638;
}
h1 {
  font-family: $ImportantFontFamily, $SecondaryImpFontFamily;
  font-size: 36px;
  font-weight: bold;
  color: $importantTextColor;
  margin-bottom: -14px;
}
p {
 font-family: $basicFontFamily, $SecondaryBasicFontFamily;
 font-size: 18px;
 color: $textColor;
 margin-left: 43px;
}
input {
  border:none;
  background-color: $importantTextColor;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.23);
  margin: auto;
  margin-bottom: 3%;
  width: 84%;
  height: 45px;
  text-indent: 10px;
  font-family: $basicFontFamily, $SecondaryBasicFontFamily;
}
::-webkit-input-placeholder {
  font-family: $basicFontFamily, $SecondaryBasicFontFamily;
  font-size: $SmallFontSize;
  color: $textColor;
}
.send {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.23);
  border: solid 2px $importantTextColor;
  font-family: $ImportantFontFamily, $SecondaryImpFontFamily;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: $textColor;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 2;
}
.send:hover {
  background-color:#ffffff;
}
.register {
  font-size: $SmallFontSize;
  margin: auto;
  margin-bottom: 55px;
  margin-top: 15px;
}
a {
   color: #000000;
   text-decoration: none;
   border-bottom: 1px solid;
   border-bottom-color: $importantTextColor;
}
a:hover {
  border-bottom-color: blue;
}
.welcome {
  margin-top: 33px;
}
.bloodStone {
  margin-left: 122px;
  margin-top: -9px;
}
.please {
  margin-bottom: 33px;
}

header{
    background-image: $niceBackground;
    max-width: 1024px;
}

#links{
  width: 320px;
  background-color: $importantTextColor;
  font-family: $basicFontFamily;
  font-size: 18px;
  // text-align: left;
  color: #360033;
  opacity: 0.9;
  background-color: #50e3c2;
  // background-color: var(--aqua-marine);
  box-shadow: 5px 6px 0 0 rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  list-style-type: none;
  overflow: auto;
}

.plusURL{
  width: 94.8px;
  height: 92px;
  background-color: #50e3c2;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
}

.linksContainer{
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;

}

.mainList{
  background-color: #ffffff;
}

.popupBtn{
  color:#ffffff;
  font-size: 100px;
}
