html{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(127deg, #360033, #2d1b46 20%, #2c1d48 22%, #0b8793);
}
body{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  display: flex;
  flex-direction: column;
  max-width:388px;
  margin:auto;
  background-color: #3DC2C5;
  box-shadow: 10px 10px #112638;
}
h1{
  font-family: 'Libre Baskerville', serif;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: -3%;
}
p{
 font-family: 'Work Sans', sans-serif;
 font-size: 18px;
 color: #360033;
 margin-left: 11%;
}
input{
  border:none;
  background-color: #ffffff;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.23);
  margin: auto;
  margin-bottom: 3%;
  width: 84%;
  height: 45px;
  text-indent: 10px;
  font-family: 'Work Sans', sans-serif;
}
::-webkit-input-placeholder {
  font-family: WorkSans;
  font-size: 12px;
  color: #360033;
}
.send{
  display: table;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.23);
  border: solid 2px #ffffff;
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #360033;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 7.5%;
  padding-right: 7.5%;
}
.send:hover{
  background-color:#0082C5;
}

.register{
  font-size: 12px;
  padding-top: 4%;
  padding-bottom: 14%;
  margin: auto;
}
span{
  display: table-cell;
  vertical-align: middle;
}
a{
   color: #000000;
   text-decoration: none;
   border-bottom: 1px solid;
   border-bottom-color: #ffffff;
}
a:hover {
  border-bottom-color: blue;
}
.welcome{
  padding-top: 7%;
}
.bloodStone{
  margin-left: 32%;
  margin-top: -3%;
}
.please{
  padding-bottom: 8%;
}
