$max : 100%;
$SmallFontSize : 12px;
$ImportantFontFamily: 'Libre Baskerville';
$SecondaryImpFontFamily: serif;
$basicFontFamily: 'Work Sans';
$SecondaryBasicFontFamily: sans-serif;
$background: #50e3c2;
$textColor: #360033;
$shadow: 10px;
$importantTextColor: #ffffff;
$niceBackground: linear-gradient(127deg, #360033, #2d1b46 20%, #2c1d48 22%, #0b8793);

body {
  height: $max;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
}

form {
  display: flex;
  flex-direction: column;
  max-width:388px;
  margin:auto;
  background-color: $background;
  box-shadow: $shadow $shadow #112638;
}

h1 {
  font-family: $ImportantFontFamily, $SecondaryImpFontFamily;
  font-size: 36px;
  font-weight: bold;
  color: $importantTextColor;
  margin-bottom: -14px;
}

h2 {
    font-size: 22px;
    margin: 0px 10px 0px;
}

p {
 font-family: $basicFontFamily, $SecondaryBasicFontFamily;
 font-size: 18px;
 color: $textColor;
 margin-left: 43px;
}

.link-url {
 font-size: 16px;
 margin-left: 12px;
}

.link-domain {
  font-size: 16px;
  font-weight: bold;
  margin-left: 12px;
}

.url-icon {
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
}

input {
  border:none;
  background-color: $importantTextColor;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.23);
  margin: auto;
  margin-bottom: 3%;
  width: 84%;
  height: 45px;
  text-indent: 10px;
  font-family: $basicFontFamily, $SecondaryBasicFontFamily;
}
::-webkit-input-placeholder {
  font-family: $basicFontFamily, $SecondaryBasicFontFamily;
  font-size: $SmallFontSize;
  color: $textColor;
}

button[type="submit"] {
  background-color: $background;
  padding-top: 0;
  padding-bottom: 0;
}

.send {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.23);
  border: solid 2px $importantTextColor;
  font-family: $ImportantFontFamily, $SecondaryImpFontFamily;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: $textColor;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 2;
}
.send:hover {
  background-color:#ffffff;
}

.register {
  font-size: $SmallFontSize;
  margin: auto;
  margin-bottom: 55px;
  margin-top: 15px;
}

a {
   color: #000000;
   text-decoration: none;
   border-bottom: 1px solid;
   border-bottom-color: $importantTextColor;
}
a:hover {
  border-bottom-color: blue;
}

.welcome {
  margin-top: 33px;
}

.bloodStone {
  margin-left: 122px;
  margin-top: -9px;
}

.please {
  margin-bottom: 33px;
}

header {
  background-image: linear-gradient(127deg, #360033, #2d1b46 20%, #2c1d48 22%, #0b8793);
  width: 100%;
  height: 106px;
  margin-bottom: -16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  width: 32%;
  background-color: $importantTextColor;
  font-family: $basicFontFamily;
  font-size: 18px;
  color: #360033;
  opacity: 0.9;
  background-color: #50e3c2;
  box-shadow: 5px 6px 0 0 rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  list-style-type: none;
  word-wrap: break-word;
}

.plusURL {
  width: 94.8px;
  height: 92px;
  background-color: #50e3c2;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right:3%;
  color:#ffffff;
  font-size: 100px;
  font-weight: bold;
}

.linksContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 0px;
  padding-right:0px;
  margin-left: 17px;
}

.mainList {
  background-color: #ffffff;
  width: $max;
}

.popupBtn {
  position: relative;
  top: -10px;
  left: 18px;
}

footer {
  display: flex;
  flex-direction: column;
}

.circle {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 25px;
}

.team {
  font-family: $basicFontFamily;
  font-size: 12px;
  color: #360033;
}

.listSite {
  height: 100vh;
  width:100vw;
}

.listSitelogin {
  display: flex;
  height: 100vh;
  width:100vw;
  background-image: $niceBackground;
}

.addURL {
  position: relative;
  top: -205px;
  left: -220px;
  width: 320px;
  height: 60px;
  background-color: $background;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5);
}

.addURLInput {
  width: 280px;
  height: 20px;
  padding: 8px;
  display: flex;
  position: relative;
  top: 12px;
  border:none;
  color: #360033;
  font-size: 18px;
}

input.addURLInput::-webkit-input-placeholder {
  font-family: $basicFontFamily;
  font-size: 18px;
  color: rgba(54, 0, 51, 0.5);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 18px solid $background;
  display: flex;
}

.trianglePosition {
  position: relative;
  top: -205px;
  left: 33px;
}

.triangle-shadow {
  position: relative;
  top: -218px;
  left: 38px;
  border-top: 18px solid rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.logo-triangle-big {
  width: 0;
  height: 0;
  border-left: 33px solid transparent;
  border-right: 33px solid transparent;
  border-bottom: 66px solid #50e3c2;
  margin-left: 27px;
}

.logo-triangle-small {
  width: 0;
	height: 0;
	border-left: 16.5px solid transparent;
	border-right: 16.5px solid transparent;
	border-top: 33px solid #870048;
  position: relative;
  top: 33px;
  left: -16.5px;
}

.logout-button {
  top: -26px;
  left: 90%;
  color: white;
  font-size: 24px;
  font-family: "Work Sans";
  margin-right: 27px;
}
.lobout-button:hover {
  border-bottom: 1px solid white;
}

.deleteLink {
    display: flex;
    justify-content: flex-end;
}
